@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 antialiased;
  }
}

/* Pieni animaatio edistymispalkille */
@keyframes progress {
  from { width: 0%; }
  to { width: 100%; }
}

.progress-animation {
  animation: progress 2s linear infinite;
}